<html>

<head>
  <title>Suppport Text 5.x Chat</title>
</head>
<body>
<!-- You have to put this piece of JavaScript code into your web page
Note: Use <!DOCTYPE html> on the page where snippet located for better rendering
-->
<link type="text/css" rel="stylesheet" href="https://supporttest5x.brightpattern.com/clientweb/chat-client-v4/css/form.css">
<script type="text/javascript">
    SERVICE_PATTERN_CHAT_CONFIG = {
        appId: '97508d420276497384eafac1d69985cf',
        apiUrl: 'https://supporttest5x.brightpattern.com/clientweb/api/v1',
        tenantUrl: 'supporttest5x.brightpattern.com',
        chatPath: 'https://supporttest5x.brightpattern.com/clientweb/chat-client-v4/',
        user_agent: '<%= Request.ServerVariables ("HTTP_USER_AGENT") %>',
        user_ip: '<%= Request.ServerVariables ("REMOTE_ADDR") %>'
        /*        
         // Default customer data, it can be collected on current site's context
         first_name: '',
         last_name: '',
         email: '',
         phone_number: ''
        */
    };
</script>
<script src="https://supporttest5x.brightpattern.com/clientweb/chat-client-v4/js/init.js"></script> 

</body>

</html>